<div class="title">
<h1>New page</h1>
</div>

<%= semantic_form_for([:admin, @page]) do |form| -%>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <%= form.actions do -%>
    <%= form.action :submit, :as => :button, :button_html => {:class => 'btn btn-primary'}-%>
  <% end -%>
<% end -%>
