<h1><%= link_to(post.title, post_path(post)) %></h1>
<div class="entry-body">
  <%== post.body_html %>
</div>
<div class="meta">
  <ul>
    <li class="date">Posted on <%= format_post_date(post.published_at) %></li>
  </ul>
</div>
