<h1>Health</h1>


<%= link_to("Google Analytics", "http://www.google.com/analytics/", {:class => "btn" , :target => "_blank"}) %>

<%= link_to("Heroku New Relics", "https://api.heroku.com/login", {:class => "btn" ,:target => "_blank"}) %>
