<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <!-- Bootstrap CSS CDN -->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <title><%= enki_config[:title] %> - Admin Login</title>
  <%= stylesheet_link_tag 'login' %>
</head>
<body>
  <div id="page">
    <div id="content">
      <%= yield %>
    </div>
    <div id="nav">
      <ul>
        <li><%= link_to 'View Site', root_path, :title => 'View Site' %></li>
      </ul>
    </div>
  </div>
<!-- Bootstrap Javascript CDN -->
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
</body>
</html>
